body {
  padding: 50px;
  box-sizing: border-box;
  -webkit-animation: animate_bg 10s;
  animation: animate_bg 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

a {
  text-decoration: none;


}

.text {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width:250px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-sizing: border-box;
  height: 90px;
  font-size: 15px;
  background-color: white;
  text-align: center;
  color: gray;
  display:flex;
  align-items: center;
  justify-content: center;
}




.button:hover {
  opacity: 0.5;
  transition-duration:.5s;
}



.title {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.picture img{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: right;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.title h1{
  font-size: 40px;
}

.title {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 90px;
  border-radius: 10px;
  color: gray;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  opacity:.9;
}

.button {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 250px;
  text-align: center;
  transition-duration:.5s;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  margin-top: 50px;
  display:flex;
  align-items: center;
  justify-content: center;

}

.button h3 {
  text-decoration: None;
  color: gray;
}

@keyframes animate_bg {
    0%   {background:#f1faee;}
    20%  {background:#a8dadc;}
    40% {background:#457b9d;}
    60% {background:#1d3557;}
    80% {background:#457b9d;}
    95% {background:#a8dadc;}
    100%   {background:#f1faee;}
}

@-webkit-keyframes animate_bg {
  0%   {background:#f1faee;}
  20%  {background:#a8dadc;}
  40% {background:#457b9d;}
  60% {background:#1d3557;}
  80% {background:#457b9d;}
  95% {background:#a8dadc;}
  100%   {background:#f1faee;}
}
