body {background-color: gray; padding: 50px;-webkit-animation: animate_bg 10s;animation: animate_bg 10s;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;}
.music {background-color: white; box-sizing: border-box; border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;opacity:.9;}
.movies {background-color: white; box-sizing: border-box; border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;opacity:.9;}
.coding {background-color: white; box-sizing: border-box; border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;opacity:.9;}
.interests {background-color: white; box-sizing: border-box; border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;opacity:.9;}
.intro-text {color: gray;  box-sizing: border-box; padding: 0% 4% 2% 4%; font-size: 20px; word-spacing: 2px;transition-duration:2.5s;}
.intro-text a {transition-duration:1.5s;}
.text {color: gray; box-sizing: border-box; padding: 0% 4% 2% 4%; font-size: 100%; word-spacing: 2px;}
.title {color: gray; box-sizing: border-box; padding: 2% 2% 0% 2%; font-size: 250%;}
.intro a {color: gray; text-decoration: none;transition-duration:1.5s;}
.intro a:hover {font-size:30px;transition-duration:1.5s;}
.albumCovers {display: flex; box-sizing: border-box; padding: 0% 4% 2% 4%;}
.albumCovers img {height: 100px; border-radius: 5%;transition-duration:2.5s;}
.movieCovers {display: flex; box-sizing: border-box; padding: 0% 4% 2% 4%;}
.movieCovers img {height: 150px; width: 100px;border-radius: 5%;transition-duration:2.5s;}
.python {display: flex; box-sizing: border-box; padding: 0% 4% 2% 4%;}
.python img {height: 150px; width: 150px;border-style: dashed; border-color: gray; border-radius: 10px; border-width: 10%; box-sizing: border-box;}
img:hover {width:300px;height: 300px;transition-duration:2.5s;}
.button a {background-color: white; float: left; padding: 15px 15px; color: gray; text-decoration: None;border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;transition-duration:.5s;opacity:.9;}
.button a:hover {opacity: 0.5;transition-duration:.5s;}
img {width: 100px;transition-duration:2.5s;}
.movieCovers img:hover {width:300px;height:450px;transition-duration:2.5s;}
.firstCharachter {font-size:30px;}
@keyframes animate_bg {
    0%   {background:#f1faee;}
    16%  {background:#a8dadc;}
    33% {background:#457b9d;}
    49% {background:#1d3557;}
    66% {background:#457b9d;}
    82% {background:#a8dadc;}
    100%   {background:#f1faee;}
}

@-webkit-keyframes animate_bg {
  0%   {background:#f1faee;}
  16%  {background:#a8dadc;}
  33% {background:#457b9d;}
  49% {background:#1d3557;}
  66% {background:#457b9d;}
  82% {background:#a8dadc;}
  100%   {background:#f1faee;}
}
