body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.full {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100vw;
  max-width: 1200px;
  box-sizing: border-box;

}

.menu {
  height: 100%;
  background-color: white;
  width: 20%;
  max-width: 250px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  position: fixed;
  top: 0;
}

.menu img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  max-width: 210px;
  box-sizing: border-box;
  margin-top: 20px;


}

.menu-button {
  margin: 0;
  padding: 0px 10px 0px 10px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 210px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

}

.menu-button a {
  margin: 0;
  padding: 5px 5px 5px 5px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  transition-duration: 1s;
  max-width: 100%;
  display: flex;
  color: #394889;
  border-radius: 10px;
  align-items: center;
  justify-content: left;
}

.menu-button span {
  margin-left: 10px;
}

.menu-button img {
  max-width: 20px;
  max-height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  box-sizing: border-box;

  display:table-cell;
}

.menu-button span{
  max-width: 100%;
  padding-right: 200px;
}

.menu-button a:hover {

  transition-duration: .5s;
  background-color: #f8f8ff;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.main {
  box-sizing: border-box;
  height: auto;
  background-color: white;
  width: 1500px;
  margin: 0;
  padding: 25px 50px 25px 50px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  position: absolute;
  left: 250px;
  height: 100%;


}

input {
  font-family: "Ubuntu", sans-serif;

}

h1 {
  color: #394889;
  font-size: 30px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */ /* Allow the user to vertically resize the textarea (not horizontally) */
  border: 0;
  color: #394889;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: #394889;
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: .5s;
  font-size: 15px;
  text-align: left;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #f8f8ff;
  transition-duration: .5s;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  width: 700px;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;


}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.radio {
  display: flex;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  color: #394889;
}

.radio .item {
  width: 200px;
  display: flex;
  justify-content: center;
}


#name {
  border-bottom: 2px solid #f8f8ff;
  transition-duration: .5s;
}

#email {
  border-bottom: 2px solid #f8f8ff;
  transition-duration: .5s;
}

#message {
  border-bottom: 2px solid #f8f8ff;
  transition-duration: .5s;
}

.social {
  display: flex;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;



}

.icons img {
  margin: 0px 50px;
  box-sizing: border-box;
  transform: scale(1.0) rotate(-45deg);
  transition-duration: 1s;
}

.icons img:hover {
  transform: scale(1.5) rotate(0deg);
  transition-duration: 1s;
}

::placeholder {
  color: #394889;
  font-family: "Ubuntu", sans-serif;
  opacity: .75;
  font-size: 15px;
}
