body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.full {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100vw;
  max-width: 1200px;
  box-sizing: border-box;

}

.menu {
  height: 100%;
  background-color: white;
  width: 20%;
  max-width: 250px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  position: fixed;
  top: 0;
}

.menu img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  max-width: 210px;
  box-sizing: border-box;
  margin-top: 20px;


}

.menu-button {
  margin: 0;
  padding: 0px 10px 0px 10px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 210px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

}

.menu-button a {
  margin: 0;
  padding: 5px 5px 5px 5px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  transition-duration: 1s;
  max-width: 100%;
  display: flex;
  color: #394889;
  border-radius: 10px;
  align-items: center;
  justify-content: left;
}

.menu-button span {
  margin-left: 10px;
}

.menu-button img {
  max-width: 20px;
  max-height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  box-sizing: border-box;

  display:table-cell;
}

.menu-button span{
  max-width: 100%;
  padding-right: 200px;
}

.menu-button a:hover {

  transition-duration: .5s;
  background-color: #f8f8ff;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.main {
  box-sizing: border-box;
  height: auto;
  background-color: white;
  width: 80%;
  width: 1500px;
  margin: 0;
  padding: 25px 50px 25px 50px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  position: absolute;
  left: 250px;

}

.streams {
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 1000px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px
  margin: 20px 40px 20px 40px;
}



.streams a{
  text-decoration: none;
  color: black;
}

.streams-sec-title {
  width: 100%;
  box-sizing: border-box;
}

.streams-sec-title h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 30px;
}



.stream-headers {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 10px;
  width: 1400px;


  box-sizing: border-box;
  border-radius: 20px;
}

.stream-item {
  margin-top: 20px;
  display: flex;

  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  width: 1400px;
  transition-duration: .5s;
  border-radius: 20px;


}


.stream-item:hover {
  transition-duration: .5s;
  background-color: #f8f8ff;
  box-shadow: 0 0 11px rgba(33,33,33,.2);


}



.stream-cover {

  width: 100px;

  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 20px;


}

.stream-cover-h {
  width: 100px;
  box-sizing: border-box;

  text-align: center;



}

.stream-cover img {
  max-width: 100px;
  max-height: 100px;
  box-sizing: border-box;
  border-radius: 20px;


}

.monthly-streams {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;

}

.monthly-streams-h {
  width: 200px;
  margin-left: 100px;
  text-align: center;

}



.total-streams {

  width: 200px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;



}

.total-streams-h {
  width: 200px;


  text-align: center;
  margin-left: 100px;

}

.total-streams h2 {
  font-size: auto;

}

.streams-graph {

  width: 300px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}



.stream-graph-h {
  width: 300px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 100px;

}


.change {
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 100px;
  font-size: 17.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-h {
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 100px;




}

input {
  font-family: "Ubuntu", sans-serif;

}

.stream-button {
  text-align: right;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 1400px;

}

.stream-button a {
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;

  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  border-radius: 20px;
  transition-duration: .5s;


}

.stream-button a:hover {
  transition-duration: .5s;
  background-color: #f8f8ff;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.projections {
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;

  margin-top: 50px;
  margin-bottom: 30px;

}

.projections a{
  text-decoration: none;
  color: black;
}

.projections-sec-title {
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px
}

.projections-sec-title h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 30px;
}

.projections-headers {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 10px;
  width: 100%;
  align-items: center;
  justify-content: left;
}

.projection-item {
  display: flex;
  margin-top: 20px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  width: 1400px;
  transition-duration: .5s;
  border-radius: 20px;
  color: #394889;

}

.projection-item:hover {

  transition-duration: .5s;
  background-color:  #f8f8ff;

  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.projection-artist {
  width: 100px;
  box-sizing: border-box;
  text-align: center;

}

.projection-artist img {
  width: 100px;

  box-sizing: border-box;
  border-radius: 25%;

}

.projection-artist h1 {

}

.projection-name {
  width: 200px;
  margin-left: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.projection-name h2 {
  font-size: 25px;
}
.projection-date {
  width: 200px;

  text-align: center;

}

.projection-streams {
  width: 200px;
  margin-left: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.projection-streams h2 {
  font-size: 20px;
}

.projection-rank {
  width: 300px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projection-date h2 {
  font-size: 25px;
}



.projection-period {
  width: 200px;
  margin-left: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.projection-period h2 {
  font-size: 20px;
}

.projections-button {
  text-align: right;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 20px;

}

.projections-button a {

  padding: 20px;
  box-sizing: border-box;

  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  border-radius: 10px;
  transition-duration: .5s;


}

.projections-button a:hover {
  background-color: #f8f8ff;
  transition-duration: .5s;
    box-shadow: 0 0 11px rgba(33,33,33,.2);

}
