body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.full {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100vw;
  max-width: 1200px;
  box-sizing: border-box;

}

.menu {
  height: 100%;
  background-color: white;
  width: 20%;
  max-width: 250px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  position: fixed;
  top: 0;
}

.menu img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  max-width: 210px;
  box-sizing: border-box;
  margin-top: 20px;


}

.menu-button {
  margin: 0;
  padding: 0px 10px 0px 10px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 210px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

}

.menu-button a {
  margin: 0;
  padding: 5px 5px 5px 5px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  transition-duration: 1s;
  max-width: 100%;
  display: flex;
  color: #394889;
  border-radius: 10px;
  align-items: center;
  justify-content: left;
}

.menu-button span {
  margin-left: 10px;
}

.menu-button img {
  max-width: 20px;
  max-height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  box-sizing: border-box;

  display:table-cell;
}

.menu-button span{
  max-width: 100%;
  padding-right: 200px;
}

.menu-button a:hover {
  opacity: .5;
  transition-duration: 1s;
  background-color: gray;
  color: white;
}

.main {
  box-sizing: border-box;
  height: auto;
  background-color: #f8f8ff;
  width: 80%;
  max-width: 1200px;
  margin: 0;
  padding: 20px 40px 20px 40px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  position: absolute;
  left: 250px;

}

.main-title {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  padding: 1px 30px 1px 30px;
  margin-bottom: 50px;
  margin-top: 30px;
  box-sizing: border-box;
]
}

.main-title h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 40px;
  box-sizing: border-box;

}

.streams {
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0px 30px 30px 30px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  max-width: 1120px;
}



.streams a{
  text-decoration: none;
  color: black;
}

.streams-sec-title {
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
}

.streams-sec-title h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 30px;
}



.stream-headers {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 10px;
  width: 1060px;
  background-color: #f8f8ff;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.stream-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  width: 1060px;
  transition-duration: 1s;
  border-radius: 20px;
  background-color: #f8f8ff;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.stream-item:hover {
  transition-duration: .5s;
  background-color: #394889;
  color: #f8f8ff;
  margin-left: 30px;
}



.stream-cover {

  width: 150px;
  padding: 25px 25px 25px 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-right: 20px;

  height: 150px;
  border-radius: 20px;


}

.stream-cover-h {
  width: 150px;
  box-sizing: border-box;

  margin-right: 10px;
  text-align: left;



}

.stream-cover img {
  max-width: 100px;
  max-height: 100px;
  box-sizing: border-box;
  border-radius: 20px;


}

.total-streams {

  width: 200px;
  height: 100px;
  box-sizing: border-box;
  text-align: left;

  margin-left: 20px;

  display: flex;
  align-items: center;
  justify-content: left;

}

.total-streams-h {
  width: 435px;

  box-sizing: border-box;
  text-align: left;

  margin-right: 10px;




}

.total-streams h2 {
  font-size: auto;
}

.streams-graph {

  width: 550px;
  height: 450px;
  box-sizing: border-box;
  text-align: left;

  margin-left: 20px;

  display: flex;
  align-items: center;
  justify-content: left;
  background-color: white;

}



.change {
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  text-align: left;
  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: left;
}

.change-h {
  width: 435px;
  box-sizing: border-box;
  text-align: left;
  margin-left: 30px;



}

.change h2 {
  font-size: auto;
}

.stream-button {
  text-align: right;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 1060px;

}

.stream-button a {
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
  background-color: #f8f8ff;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  border-radius: 20px;
  transition-duration: 1s;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.stream-button a:hover {
  transition-duration: .5s;
  padding-right: 908px;
  background-color:#394889;
  color: #f8f8ff;
}

.projections {
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  margin-top: 50px;
  margin-bottom: 30px;

}

.projections a{
  text-decoration: none;
  color: black;
}

.projections-sec-title {
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px
}

.projections-sec-title h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 30px;
}

.projections-headers {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  font-size: 10px;
  width: 100%;
  align-items: center;
  justify-content: left;
}

.projection-item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  transition-duration: 1s;
  border-radius: 20px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.projection-item:hover {
  opacity: .5;
  transition-duration: 1s;
  background-color: gray;
  color: white;
}

.projection-artist {
  width: 20%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-right: 10px;

}

.projection-artist img {
  max-width: 100%;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  border-radius: 25%;
  margin-left: auto;
  margin-right: auto;

}

.projection-artist h1 {
  padding-left: 20px;
  box-sizing: border-box;
}

.projection-name {
  width: 20%;
  box-sizing: border-box;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}

.projection-name h2 {
  font-size: 25px;
}
.projection-date {
  width: 20%;
  box-sizing: border-box;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}

.projection-date h2 {
  font-size: 25px;
}

.projection-streams {
  width: 20%;
  box-sizing: border-box;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}

.projection-streams h2 {
  font-size: 20px;
}

.projection-period {
  width: 20%;
  box-sizing: border-box;
  text-align: left;

  padding-left: 10px;
}

.projection-period h2 {
  font-size: 20px;
}

.projections-button {
  text-align: right;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 20px;

}

.projections-button a {

  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f8ff;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #394889;
  border-radius: 10px;
  transition-duration: 1s;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.projections-button a:hover {
  opacity: .5;
  transition-duration: 1s;
  background-color: gray;
  color: white;
}
